version: 2.1
jobs:
  build:
    branches:
      ignore:
        - gh-pages
    docker:
     - image: circleci/python:3.6-jessie-browsers
    steps:
     - add_ssh_keys:
        fingerprints:
         - "b8:7b:4b:cd:5c:c0:29:9e:fe:dd:9a:55:c9:03:45:d3"
     - checkout
     - run:
        name: Pip install
        # This is using sudo, because this is a test environment. Don't do that on your computer.
        command: sudo pip install -r requirements.txt
     - run:
        name: mkdocs build
        command: mkdocs build --clean --strict
     - deploy:
        name: mkdocs deploy
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            mkdocs gh-deploy
          fi
